@import './base.css';

@font-face {
  font-family: 'opensans';
  src: url('/src/assets/fonts/OpenSans.ttf')
  format('truetype');
}

body{
  font-family: 'opensans';
  color: #e1e1e1;
  background-color: #1a1a1a;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
