@import './base.css';

@font-face {
  font-family: 'opensans';
  src: url('/src/assets/fonts/OpenSans.ttf')
  format('truetype');
}

body{
  font-family: 'opensans';
  color: #e1e1e1;
  background-color: #1a1a1a;
}